.mainWrapper {
  background: #071930;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh; }
  .mainWrapper .progress {
    background: #023852; }
    .mainWrapper .progress .progress-bar {
      background: #03A694; }
  .mainWrapper header {
    height: calc(38vh - 1rem);
    background: #851934;
    text-align: center;
    display: block;
    position: relative; }
    .mainWrapper header .goPrevious, .mainWrapper header .goNext {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      fill: #F24738;
      z-index: 2;
      transition: transform 0.15s ease-in-out;
      cursor: pointer; }
      .mainWrapper header .goPrevious:hover, .mainWrapper header .goNext:hover {
        transform: scale(1.2) translateY(-50%); }
      .mainWrapper header .goPrevious.off, .mainWrapper header .goNext.off {
        opacity: .2;
        cursor: initial; }
        .mainWrapper header .goPrevious.off:hover, .mainWrapper header .goNext.off:hover {
          transform: scale(1) translateY(-50%); }
      .mainWrapper header .goPrevious .lnr, .mainWrapper header .goNext .lnr {
        font-size: 2rem; }
    .mainWrapper header .goPrevious {
      left: 4rem; }
    .mainWrapper header .goNext {
      right: 4rem; }
    .mainWrapper header .question {
      z-index: 1; }
      .mainWrapper header .question h1 {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        width: 100%;
        padding: 8rem;
        font-weight: 600; }
  .mainWrapper .input {
    height: 62vh;
    transform: scale(0.8);
    display: none;
    transition: transform 0.15s ease-in-out; }
    .mainWrapper .input.active {
      transform: scale(1); }
    .mainWrapper .input .answerGroup {
      height: 100%; }
      .mainWrapper .input .answerGroup .answer {
        display: block;
        position: relative;
        vertical-align: middle;
        text-align: center;
        height: 100%;
        overflow: hidden; }
        .mainWrapper .input .answerGroup .answer:before {
          position: absolute;
          background: #023852;
          content: "";
          display: block;
          opacity: 0;
          height: 100%;
          width: 100%;
          transform: rotate(5deg) scale(0.8);
          transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out, background 0.15s ease-in-out; }
        .mainWrapper .input .answerGroup .answer:hover:before {
          opacity: 1;
          transform: rotate(0deg) scale(1); }
        .mainWrapper .input .answerGroup .answer.active:before {
          background: #03A694;
          opacity: 1;
          transform: rotate(0deg) scale(1); }
        .mainWrapper .input .answerGroup .answer h2 {
          position: absolute;
          top: 50%;
          transform: translatey(-50%);
          width: 100%;
          padding: 4rem; }

.navbar {
  background: linear-gradient(45deg, #023852 0%, #071930 100%); }

.selectionWrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  color: #222;
  position: relative; }
  .selectionWrapper.selectionSocial {
    margin-top: 90px;
    background-image: linear-gradient(-15deg, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%); }
    .selectionWrapper.selectionSocial.resultsOfFilter {
      padding-bottom: 30px;
      padding-top: 30px;
      margin-bottom: 45px; }
      .selectionWrapper.selectionSocial.resultsOfFilter h2 {
        margin-bottom: 0px; }
  .selectionWrapper.selectionSurrounding {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); }
  .selectionWrapper .submitBtn {
    position: absolute;
    right: 10%;
    bottom: 10%; }
    .selectionWrapper .submitBtn a {
      line-height: 45px;
      height: 45px;
      display: block;
      text-align: center;
      min-width: 150px;
      border-radius: 5px;
      border-bottom: 3px solid rgba(0, 0, 0, 0.6);
      background: rgba(0, 0, 0, 0.75);
      color: #fff; }
      .selectionWrapper .submitBtn a:hover {
        border-bottom-width: 1px; }
  .selectionWrapper .selectionGroup h2 {
    color: #fff;
    margin-bottom: 45px;
    text-transform: uppercase; }
  .selectionWrapper .selectionGroup .select {
    width: 75%;
    margin-left: 12.5%;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    transition: color 0.15s ease-in-out background 0.15s ease-in-out;
    z-index: 5; }
    .selectionWrapper .selectionGroup .select:before, .selectionWrapper .selectionGroup .select:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      z-index: 2; }
    .selectionWrapper .selectionGroup .select:before {
      background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
      left: -50%;
      transition: left 0.15s ease-in-out; }
    .selectionWrapper .selectionGroup .select:after {
      background-image: linear-gradient(to bottom, #0ba360 0%, #4DEBBA 100%);
      right: -50%;
      transition: right 0.15s ease-in-out; }
    .selectionWrapper .selectionGroup .select.positive {
      background-image: linear-gradient(to bottom, #0ba360 0%, #4DEBBA 100%);
      color: #fff; }
      .selectionWrapper .selectionGroup .select.positive img {
        opacity: 0; }
    .selectionWrapper .selectionGroup .select.negative {
      background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
      color: #fff; }
      .selectionWrapper .selectionGroup .select.negative img {
        opacity: 0; }
    .selectionWrapper .selectionGroup .select:hover:before {
      left: 0%; }
    .selectionWrapper .selectionGroup .select:hover:after {
      right: 0%; }
    .selectionWrapper .selectionGroup .select:hover.positive, .selectionWrapper .selectionGroup .select:hover.negative {
      color: #222;
      background: rgba(0, 0, 0, 0.75); }
    .selectionWrapper .selectionGroup .select:hover h3 {
      top: 25%; }
    .selectionWrapper .selectionGroup .select:hover .leftIcon {
      left: 25%;
      opacity: 1; }
    .selectionWrapper .selectionGroup .select:hover .rightIcon {
      left: 75%;
      opacity: 1; }
    .selectionWrapper .selectionGroup .select img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200%;
      height: auto;
      z-index: -1;
      transform: translate(-50%, -50%); }
    .selectionWrapper .selectionGroup .select h3 {
      position: absolute;
      top: 50%;
      width: 100%;
      font-size: 18px;
      transform: translatey(-50%);
      z-index: 1;
      color: #fff;
      transition: top 0.15s ease-in-out; }
    .selectionWrapper .selectionGroup .select .leftIcon, .selectionWrapper .selectionGroup .select .rightIcon {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) scale(1.5);
      color: #fff;
      z-index: 3;
      opacity: 0;
      transition: left 0.15s ease-in-out translate 0.15s ease-in-out;
      cursor: pointer; }
      .selectionWrapper .selectionGroup .select .leftIcon:active, .selectionWrapper .selectionGroup .select .leftIcon:focus, .selectionWrapper .selectionGroup .select .rightIcon:active, .selectionWrapper .selectionGroup .select .rightIcon:focus {
        transform: translate(-50%, -50%) scale(1.75); }
    .selectionWrapper .selectionGroup .select .leftIcon {
      left: 0%; }
    .selectionWrapper .selectionGroup .select .rightIcon {
      left: 100%; }

.results .items:after {
  content: "";
  display: block;
  clear: both; }
.results .items .item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .results .items .item:after {
    content: "";
    display: block;
    clear: both; }
  .results .items .item.last {
    border-bottom: 0px; }
  .results .items .item a {
    text-decoration: none;
    color: inherit; }
  .results .items .item .imgHolder {
    width: 15%;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    float: left; }
    .results .items .item .imgHolder img {
      width: auto;
      height: 100%; }
  .results .items .item .content {
    width: 40%;
    margin-left: 5%;
    padding-right: 15px;
    float: left; }
    .results .items .item .content ul {
      padding-left: 0px; }
      .results .items .item .content ul li {
        list-style: none; }
        .results .items .item .content ul li.warning:before {
          color: #F24738; }
        .results .items .item .content ul li.warning .highlight {
          color: #F24738; }
        .results .items .item .content ul li:before {
          content: "\E87F";
          font-family: linearicons-free;
          margin-right: 15px;
          color: #03A694; }
    .results .items .item .content .highlight {
      color: #03A694; }
  .results .items .item .maps {
    width: 40%;
    float: left; }
    .results .items .item .maps iframe {
      width: 100%;
      height: 200px; }

.detailPage {
  margin-bottom: 0px;
  padding-bottom: 30px;
  padding-top: 30px; }
  .detailPage h2 {
    margin-bottom: 0px !important; }

header {
  margin-bottom: 60px; }
  header .imgHolderHeader {
    height: 250px;
    overflow: hidden;
    position: relative; }
    header .imgHolderHeader img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      transform: translatey(-50%); }

.detail p {
  display: block; }
.detail .whatsappShare {
  color: #03A694;
  text-decoration: none; }
.detail .keurBtn {
  background: #03A694;
  border-bottom: 3px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  color: #fff;
  display: block;
  position: relative;
  margin-bottom: 45px;
  transition: border-bottom-width 0.15s ease-in-out, height 0.15s ease-in-out; }
  .detail .keurBtn:hover {
    border-bottom-width: 1px;
    height: 43px;
    text-decoration: none; }
.detail ul {
  padding-left: 0px; }
  .detail ul li {
    list-style: none; }
    .detail ul li.warning:before {
      color: #F24738; }
    .detail ul li.warning .highlight {
      color: #F24738; }
    .detail ul li:before {
      content: "\E87F";
      font-family: linearicons-free;
      margin-right: 15px;
      color: #03A694; }
.detail .highlight {
  color: #03A694; }
.detail .makelaars {
  padding: 15px; }
  .detail .makelaars li {
    list-style-type: disc; }
    .detail .makelaars li:before {
      display: none; }
    .detail .makelaars li.advised {
      color: #F24738; }
      .detail .makelaars li.advised a {
        color: #F24738; }

/*# sourceMappingURL=style.css.map */
