$darkBlue: #071930;
$blue: #023852;
$green: #03A694;
$orange: #F24738;
$red: #851934;


$trans: .15s ease-in-out;


.mainWrapper {
	background: $darkBlue;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	min-height: 100vh;
	
	.progress {
		background: $blue;
		
		.progress-bar {
			background: $green;
		}
	}
	
	header {
		height: calc(38vh - 1rem);
		background: $red;
		text-align: center;
		display: block;
		position: relative;
		
		.goPrevious, .goNext {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			fill: $orange;
			z-index: 2;
			transition: transform $trans;
			cursor: pointer;
			
			&:hover {
				transform: scale(1.2) translateY(-50%);
			}
			
			&.off {
				opacity: .2;
				cursor: initial;
				
				&:hover {
					transform: scale(1) translateY(-50%);
				}
			}
			
			.lnr {
				font-size: 2rem;
			}
		}
		
		.goPrevious {
			left: 4rem;
		}
		
		.goNext {
			right: 4rem;
		}
		
		.question {
			z-index: 1;
			
			h1 {
				position: absolute;;
				top: 50%;
				transform: translatey(-50%);
				width: 100%;
				padding: 8rem;
				font-weight: 600;
				letter-spacing: 1.5;
			}
		}
	}
	
	.input {
		height: 62vh;
		transform: scale(.8);
		display: none;
		transition: transform $trans;
		
		&.active {
			transform: scale(1);
		}
		
		.answerGroup {
			height: 100%;
			
			.answer {
				display: block;
				position: relative;
				vertical-align: middle;
				text-align: center;
				height: 100%;
				overflow: hidden;
				
				&:before {
					position: absolute;
					background: $blue;
					content: "";
					display: block;
					opacity: 0;
					height:100%;
					width: 100%;
					transform: rotate(5deg) scale(.80);
					transition: transform $trans, opacity $trans, background $trans;
				}
				
				&:hover {
					&:before {
						opacity: 1;
						transform: rotate(0deg) scale(1);
					}
				}
				
				&.active {
					&:before {
						background: $green;
						opacity: 1;
						transform: rotate(0deg) scale(1);
					}
				}
				
				h2 {
					position: absolute;;
					top: 50%;
					transform: translatey(-50%);
					width: 100%;
					padding: 4rem;
				}
			}
		}
	}
}